name: Android Build

on: [push, pull_request]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Create Properties File
        env:
          API_KEY: ${{ secrets.APIKEY }}
          ALGOLIA_API_KEY: ${{ secrets.ALGOLIAAPIKEY }}
          ALGOLIA_APP_ID: ${{ secrets.ALGOLIAAPPID }}
        run: |
          touch local.properties
          echo "API_KEY=$API_KEY" >> local.properties
          echo "ALGOLIA_API_KEY=$ALGOLIA_API_KEY" >> local.properties
          echo "ALGOLIA_APP_ID=$ALGOLIA_APP_ID" >> local.properties

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Run Tests
        run: ./gradlew test

      - name: Build Project
        run: ./gradlew assemble

  apk:
    name: Generate APK
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Create Properties File
        env:
          API_KEY: ${{ secrets.APIKEY }}
          ALGOLIA_API_KEY: ${{ secrets.ALGOLIAAPIKEY }}
          ALGOLIA_APP_ID: ${{ secrets.ALGOLIAAPPID }}
        run: |
          touch local.properties
          echo "API_KEY=$API_KEY" >> local.properties
          echo "ALGOLIA_API_KEY=$ALGOLIA_API_KEY" >> local.properties
          echo "ALGOLIA_APP_ID=$ALGOLIA_APP_ID" >> local.properties

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build debug APK
        run: bash ./gradlew assembleDebug --stacktrace
      - name: Upload APK
        uses: actions/upload-artifact@v2
        with:
          name: app
          path: app/build/outputs/apk/debug/app-debug.apk